<div class="bg-orange main">
  <div class="main-container">
    <div class="dot dot-7"></div>
    <img src="./assets/2dogs.jpg" alt="main1" class="dot" id="dot-9">
    <img src="./assets/2dogs.jpg" alt="main1" class="dot" id="dot-10">

    <img src="./assets/ola_main_image.png" class="main-img" alt="main">
    <img src="./assets/2dogs.jpg" alt="main1" class="dot" id="dot-8">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
    <div class="dot dot-4"></div>
    <img src="./assets/2dogs.jpg" alt="main1" class="dot" id="dot-11">
    <div class="dot dot-5"></div>
    <div class="dot dot-6"></div>
    <img src="./assets/2dogs.jpg" alt="main1" class="dot" id="dot-12">
  </div>
  <div class="container">
    <div class="main-text">
      <h1>Ольга Ситкина</h1>
      <h2>Зоопсихолог, специалист по&#160;поведению животных в&#160;Израиле</h2>
      <p>Иногда ласке надо учить. Гато не сидел на руках. Я решила попробовать научить. Ему было сложно
        поначалу. Но потом он сам начал приходить на руки по вечерам и мурлыкать. Тоже самое было с
        поцелуями. Он не целовался, Я начала его учить. Не много, иногда</p>
    </div>
    <img class="logo" src="./assets/icons/instagram.svg" alt="">
    <img class="logo" src="./assets/icons/facebook1.svg" alt="">
    <img class="logo" src="./assets/icons/whatsapp.svg" alt="">
  </div>
</div>
<div class="container">


  <div class="separator">
    <div class="row">
      <div class="col-md-4">
        <div class="orange-line"></div>
      </div>
      <div class="col-md-4">
        <div class="my-header">УСЛУГИ</div>
      </div>
      <div class="col-md-4">
        <div class="orange-line"></div>
      </div>
    </div>
  </div>
  <div class="post">


    <div class=" outer post1">
      <img src="./assets/2dogs.jpg" alt="dogs" class="img-draft img-draft-1">
      <div class="bg-orange inner inner-text">
        <h3>Корректиковка поведения</h3>
        <p>Иногда ласке надо учить. Гато не сидел на руках. Я решила попробовать научить. Ему было сложно
          поначалу. Но потом он сам начал приходить на руки по вечерам и мурлыкать. Тоже самое было с
          поцелуями. Он не целовался, Я начала его учить. Не много, иногда.</p>
      </div>
    </div>

    <div class="outer post2">
      <div class="inner inner-text-2">
        <h3>Поддержка</h3>
        <p>Иногда ласке надо учить. Гато не сидел на руках. Я решила попробовать научить. Ему было сложно
          поначалу. Но потом он сам начал приходить на руки по вечерам и мурлыкать. Тоже самое было с
          поцелуями. Он не целовался, Я начала его учить. Не много, иногда.</p>
      </div>
      <div class="inner">
        <img src="./assets/2dogs.jpg" alt="dogs" class="img-draft-1">
      </div>
      <div class="orange-border"></div>
    </div>


    <div class="outer post3">

      <img src="./assets/2dogs.jpg" alt="dogs" class="img-draft-1">

      <div class="bg-orange inner inner-text">
        <h3>Корректиковка поведения</h3>
        <p>Иногда ласке надо учить. Гато не сидел на руках. Я решила попробовать научить. Ему было сложно
          поначалу. Но потом он сам начал приходить на руки по вечерам и мурлыкать. Тоже самое было с
          поцелуями. Он не целовался, Я начала его учить. Не много, иногда.</p>
      </div>
    </div>
  </div>


  <div class="separator">
    <div class="row">
      <div class="col-md-4">
        <div class="orange-line"></div>
      </div>
      <div class="col-md-4">
        <div class="my-header">ОТЗЫВЫ</div>
      </div>
      <div class="col-md-4">
        <div class="orange-line"></div>
      </div>
    </div>
  </div>
  <div class="feedback">
    <img src="./assets/feedback.jpg" alt="feedback" class="feedback-img">
    <div>
      <h3>Галина</h3>
      <h6>Ришон ле Цион</h6>
      <p><span class="oq">&#171;</span>Иногда ласке надо учить. Гато не сидел на руках. Я решила попробовать научить. Ему было сложно
        поначалу. Но потом он сам начал приходить на руки по вечерам и мурлыкать. Тоже самое было с
        поцелуями. Он не целовался, Я начала его учить. Не много, иногда.<span class="cq">&#187;</span></p>
    </div>
  </div>
</div>